[client]
default-character-set = utf8

[mysql]
default-character-set = utf8

[mysqld]
port             = 3306
bind-address     = 0.0.0.0
skip-name-resolve

#Specify character settings at server startup.
init_connect='SET NAMES utf8'
init_connect='SET collation_connection = utf8_general_ci'
character-set-server = utf8
collation-server     = utf8_general_ci
skip-character-set-client-handshake
character-set-client-handshake = FALSE

#show variables like 'char%'
#show variables like 'collation%'
#SET NAMES utf8 COLLATE utf8_general_ci
#ALTER DATABASE Dev_AMD COLLATE utf8_general_ci;

# SAFETY #
sql-mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY
sysdate-is-now=1
innodb=FORCE
innodb-strict-mode=1
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

#Set General Log
#SET GLOBAL general_log = 'ON';
#set global slow_query_log = 'ON';
general_log = on
general_log_file=/var/log/mysql/mysql-query.log

log-error=/var/log/mysql/mysql-error.log
log-queries-not-using-indexes=1
long_query_time  = 1
slow-query-log= on
slow-query-log-file=/var/log/mysql/mysql-slow.log
[mysqld_safe]
#log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
